<!-- Hero -->
<div class="relative overflow-hidden before:absolute before:top-0 before:start-1/2 before:bg-[url('https://preline.co/assets/svg/examples/polygon-bg-element.svg')] before:bg-no-repeat before:bg-top before:bg-cover before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2">
    <div id="home" class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-8 pb-16">
      <!-- Announcement Banner -->
      <div  class="flex justify-center pb-2">
        <a class="inline-flex items-center gap-x-2 rounded-full transition hover:border-gray-300" href="#">
            <img class="max-w-full h-auto" src="./assets/home/Serenity.png" alt="Serenity_Logo">
        </a>
      </div>
      <!-- End Announcement Banner -->
      <figure   class="mx-auto max-w-full w-1/2 sm:w-3/5 xl:w-3/5 h-auto">
        <div class="p-1.5 rounded-3xl">
          <img class="max-w-full h-auto" src="./assets/home/device1_new.png" alt="Image Description">
        </div>
      </figure>
      <!-- Title -->
      <div  class="xl:mt-16 mt-8 max-w-2xl text-center mx-auto">
        <h1  class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl">
          Elevate. Parent. 
          <span class="bg-clip-text bg-gradient-to-tl from-blue-600 to-[#03C988] text-transparent">Thrive!</span>
        </h1>
      </div>
      <!-- End Title -->
  
      <div class="xl:mt-5 mt-5 max-w-3xl text-center mx-auto">
        <p class="text-lg text-gray-600 dark:text-gray-400">Our mission? To unveil the secrets, decode the puzzles, and lead parents to discover the elusive realms of emotional balance and peace on this extraordinary journey. Join us in this cosmic quest for serenity and tranquility in the adventure of parenthood. 🚀✨</p>
      </div>
  
      <!-- Buttons -->
      <div class="mt-6 gap-3 flex justify-center">
        <a class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-blue-600 to-violet-600 hover:from-violet-600 hover:to-blue-600 border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-1 focus:ring-gray-600 py-3 px-4 dark:focus:ring-offset-[#364473]" href="#">
          Get started
          <svg class="flex-shrink-0 w-4 h-4" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round"/>
          </svg>
        </a>
        <!-- <button type="button" class="relative group p-2 ps-3 inline-flex items-center gap-x-2 text-sm font-mono rounded-lg border border-gray-200 bg-white text-[#364473] shadow-sm hover:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-slate-900 dark:border-gray-700 dark:text-white dark:hover:bg-[#364473] dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
          $ npm i preline
          <span class="flex justify-center items-center bg-gray-200 rounded-md w-7 h-7 ">
            <svg class="flex-shrink-0 w-4 h-4 group-hover:rotate-6 transition" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect width="8" height="4" x="8" y="2" rx="1" ry="1"/><path d="M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2"/></svg>
          </span>
        </button> -->
      </div>
      <!-- End Buttons -->
    </div>
    
  </div>
  <!-- End Hero -->

  <!-- shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(45_55_75_/_20%),_0_2rem_4rem_-2rem_rgb(45_55_75_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(45_55_75_/_20%)] dark:bg-gray-600 dark:shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(0_0_0_/_20%),_0_2rem_4rem_-2rem_rgb(0_0_0_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(0_0_0_/_20%)] -->